/* jenna Wynd */
header{
  width: 100%;
  background-color:#09d3ee;
  height: 120px;
  margin: 0px;
  padding: 0px;
  /*overflow:hidden;*/
}
html, body{
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
}
@media screen and (max-width: 950px){


footer{
  background-image: url("images/marbleBackround.jpg");
  height: 90px;
  position: block;
}
footer p{
  text-align: center;
  margin: 20px;
  padding-top: 5px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
}

.grid{
width:100%;
display: grid;
}
h1{
  font-family: cursive;
}
.hamMenu{
  justify-content: right;
  margin-right: 0;
  margin-left: auto;
  margin-top:40px;
  float: right;
  margin-right: 10px;
  position: relative;
}

.icon{
  height:100px;
  padding-top: 10px;
}


li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
  color: black;
}
li a{
  color: black;
}
.nav {
    z-index: 10;
    background-color:#5F3990;
    width: 200px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
    top:149px;
  }
  /*webkit is a rendering engine for the browser*/
.nav__item {
  display: list-item;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  color: black;
} 
.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(-10, 0);
  }
.pages__list{
  display: none;
}
.searchbutton{
  height: 25px;
}

.tagline{
  text-align: center;
  background-image: url("images/marbleBackround.jpg");
  height: 90px;
  position: block;
  overflow:hidden;
  text-transform: uppercase;
  grid-row: 1;
  color: #5F3990;
}
ul{
  list-style: none;
}
}
@media screen and (min-width: 950px){
a{
  color: black;
  text-decoration: none;
}

footer{
  background-color:rgb(50, 51, 53) ;
  height: 81px;
  position: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p{
  text-align: center;
  margin: 20px;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  padding-top: 5px;
  background: none;
  position: inline-block;
  display: inline-block;  
  font-size: 2vw;

}

.grid{
width:100%;
display: grid;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 7vw;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.header__menu{
  display: none;
}
.icon{
  height:100px;
  padding-top: 10px;
}

.nav__list{
  display: none;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #09d3ee;
  color: black;
  margin-top: auto;
  margin-bottom: 5vw;
  font-size: 2vw;
  text-align: center;
  width: 70%;
  margin-left:auto;
  margin-right: auto;
  padding:3vw;

  }
.whoweare p{
  border-radius: 25px;
  box-shadow:5px 10px rgb(50, 51, 53);
}
  .pages__item{
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: inline-block;
  color:  #C9A013;
  font-size: 3vw;
  margin-left:4vw;
}
.pages__list{
  color: green;
  text-align: right;
  right: 0;
  position: relative;
  padding-left:0vw;
  top: -125px;
  padding-right:2vw;
}


.searchbutton{
  height: 50px;
}
table {
  width: 100%;
}
td{
  width: 50%;
}
table h2{
  text-decoration: none;
  padding: 3vw;
  font-size: 5vw;
  text-align: center;
}
h2{
  text-decoration: none;
  margin:auto;
  padding: 3vw;
  font-size: 5vw;
  text-align: center;
}
table p{
  color:black;
  background-color: white;
  text-align: center;
  padding: auto;
  padding-top: 0;
  margin: auto;
  margin-top: 10px;
  width:90%;
}
.donatebox{
  background-color: #09d3ee;
  width: 60%;
  margin-left:10vw;
  border-radius: 25px;
  box-shadow:5px 10px rgb(50, 51, 53);
}
.hospitalbox{
  background-color: #09d3ee;
  width: 50%;
  margin-left:25vw;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow:5px 10px rgb(50, 51, 53);
}
.tagline{
  text-align: center;
  height: 90px;
  background-size:cover;
  position: block;
  overflow:hidden;
  text-transform: uppercase;
  grid-row: 1;
  grid-column: 1/4;
}
.form{
  margin: 20px;
  width:70%;
  margin-left: 14vw;
  box-shadow: 0 0 7px black;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

input{
  margin-bottom: 10px;
  border-radius: 25px;
  width: 40%;
  height: 30px;
  text-align: center;
}
.button{
  margin-left: 45vw;
  margin-bottom: 100px;
}
}